/*
id - #
class - с точки(.)
width - ширина
height - высота
-------------------------------------------------------------------------------------------------------------------------------------------------------------------

псевдоэлементы: элемент: first-letter(для одной буквы значения)
                элемент: first-line(1 предложения)
                элемент: hover(навадаться на мышку и она будет...)
                элемент: active(при нажатие...)
                элемент: first-line(1 предложения)

--------------------------------------------------------------------------------------------------------------------------------------------------------------------

для ссылки(a): text-decoration: uderline(подчеркнуто)
                                line-through(перечеркнутый)
                                blink(мегать)
                                overline(над ссылкой)
                                псевдоэлемент: visidet(если человек уже переходил по ссылки, то она будет выделятся...)

--------------------------------------------------------------------------------------------------------------------------------------------------------------------                                
font-size: размер шрифта(1.1em)
font-weight: начертание шрифт
font-family: семейство шрифтов(Comic "Sans MS" или если у пользователи не будет подключен такой текст, то "sans-serif" без кавычек) 
text-align: выравнивания текста(center, left, right)
background-color: #fff: цвет фона
text-indent: отступ текста(1.1em)
float: задает то что элементы или вообще что угодно налаживается друг на друга на одну линию(left, right)
clear: означает что напротив него нельзя ставить никаких других блоков
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
position: (Устанавливает способ позиционирования элемента относительно окна браузера или других объектов на веб-странице.) absolute | fixed | relative | static | inherit :
absolute
Указывает, что элемент абсолютно позиционирован, при этом другие элементы отображаются на веб-странице словно абсолютно позиционированного элемента и нет. Положение элемента задается свойствами left, top, right и bottom, также на положение влияет значение свойства position родительского элемента. Так, если у родителя значение position установлено как static или родителя нет, то отсчет координат ведется от края окна браузера. Если у родителя значение position задано как fixed, relative или absolute, то отсчет координат ведется от края родительского элемента.
fixed
По своему действию это значение близко к absolute, но в отличие от него привязывается к указанной свойствами left, top, right и bottom точке на экране и не меняет своего положения при прокрутке веб-страницы. Браузер Firefox вообще не отображает полосы прокрутки, если положение элемента задано фиксированным, и оно не помещается целиком в окно браузера. В браузере Opera хотя и показываются полосы прокрутки, но они никак не влияют на позицию элемента.
relative
Положение элемента устанавливается относительно его исходного места. Добавление свойств left, top, right и bottom изменяет позицию элемента и сдвигает его в ту или иную сторону от первоначального расположения.
static
Элементы отображаются как обычно. Использование свойств left, top, right и bottom не приводит к каким-либо результатам.
inherit
Наследует значение родителя.
text-transform (текст преобразования): uppercase(большими буквами)
                                      capitalize(каждое слово с большой буквы)
                                      lowercase(все буквы маленькие)
                                      word-spacing(интервал между словами px)
                                      letter-spacing(интервал между буквами)
                                      line-height(интервал между строками)
border (линия обведенная текст) : размер линии(1px) solid, dashed, dotted, double(линия, пунктир, точками, двойная сплошная линия) цвет(sliver)
border-bottom (граница дна) свойства теже самые
border-top (верхняя граница), 
border-left, (левая граница)
border-right. (правая граница)
margin: 19px 33px 0px 0px(верхнее, справа, снизу, слева) определяет внешний отступ на всех четырех сторонах элемента.( margin-top, margin-right, margin-bottom и margin-left)
padding: устанавливает внутренние отступы/поля со всех сторон элемента(padding-top, padding-right, padding-bottom, padding-left).
border-radius(округить)
groove(вдавленная объемная линия)
ridge(отображается выпуклой объемной линией)
inset(граница отображается так, что весь блок выглядит вдавленным) или outset(с другой стороны)
------------------------------------------------------------------------------------------------------------------------------------------------------------------------  
*/

html{
    background-image: url(https://ucarecdn.com/256041d8-1163-4474-a2ac-bb09998f5803/);
}

body{
    height: 3000px;
    position: relative;
}

#we:hover{
    color: red;
    
}

#we{
    font-size: 1.3em;
    font-weight: bold;
    font-family: Comic Sans MS, sans-serif;
    text-transform: lowercase;
    word-spacing: 9px;
    letter-spacing: 5px;
    line-height: 50px;
    padding: 35px;
   
}

#test{
    border: 4px dashed silver;
    border-left: 3px solid red;
    height: 50px;
    width: 20%;
    background-color: blue;
    margin: 10px 0px 51px;
    padding: 10px;
    border-radius: 50px;
}

#lini{
    border: 2px solid silver;
    margin: 45px 0px 10px;
    
}

#headBlock{
    width: calc(100% - 20px);
    height: 50px;
    float: left;
    background-color: #fff;
    border-bottom: 2px solid silver;
    padding: 10px;
    font-size: 1.2em;
    color: orange;
    font-family: Comic Sans MS;
    position: fixed;
}

#footer{
    width: calc(100% - 20px);
    height: 50px;
    float: left;
    margin-top: 20px;
    background-color: #fff;
    border-top: 2px solid silver;
    padding: 10px;
    font-size: 1.2em;
    color: orange;
    font-family: Comic Sans MS;
}

article, aside{
    background-color: blue;
    margin-top: 10px;
    height: 400px;
    border-radius: 5px;
    border: 1px solid silver;
    box-sizing: border-box;
    float: left;
}

article{
    float: right;
    width: 40%;
    margin-left: 3%;
    margin-right: 10%;
    clear: right;
}


aside{
    width: 25%;
    left: 100px;
    top: 30px;
}

